<p id="notice"><%= notice %></p>
<%# flash: redirect_toと一緒に使用する/flash.now: renderと一緒に使用する/キー名では主に「お知らせ:notice」と「警告:alert」を使用 %>

<h1> 記録カレンダー </h1>

<br>

<%= link_to '記録する',  new_record_path %>

<%= month_calendar events: @records do |date, records| %>
  <%= date.day %>

  <% records.each do |record| %>
    <div>
      <%= link_to record.bw, record %>
    </div>
  <% end %>
<% end %>